<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miaosha.dao.RewardDoMapper">
  <resultMap id="BaseResultMap" type="com.miaosha.dataobject.RewardDO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="first_award" jdbcType="INTEGER" property="firstAward" />
    <result column="second_award" jdbcType="INTEGER" property="secondAward" />
    <result column="third_award" jdbcType="INTEGER" property="thirdAward" />
    <result column="four_award" jdbcType="INTEGER" property="fourAward" />
    <result column="start_time" jdbcType="VARCHAR" property="startTime" />
    <result column="end_time" jdbcType="VARCHAR" property="endTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, first_award, second_award, third_award, four_award, start_time, end_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_reward
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_reward
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.miaosha.dataobject.RewardDO">
    insert into tb_reward (id, first_award, second_award, third_award, four_award, start_time, end_time)
    values (#{id,jdbcType=INTEGER}, #{firstAward,jdbcType=INTEGER}, #{secondAward,jdbcType=INTEGER},
      #{thirdAward,jdbcType=INTEGER}, #{fourAward,jdbcType=INTEGER}, #{startTime,jdbcType=VARCHAR}, #{endTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.miaosha.dataobject.RewardDO">
    insert into tb_reward
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="firstAward != null">
        first_award,
      </if>
      <if test="

secondAward != null">
        

second_award,
      </if>
      <if test="
thirdAward != null">
        
third_award,
      </if>
      <if test="fourAward != null">
        four_award,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="firstAward != null">
        #{firstAward,jdbcType=INTEGER},
      </if>
      <if test="

secondAward != null">
        #{

secondAward,jdbcType=INTEGER},
      </if>
      <if test="
thirdAward != null">
        #{
thirdAward,jdbcType=INTEGER},
      </if>
      <if test="fourAward != null">
        #{fourAward,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.miaosha.dataobject.RewardDO">
    update tb_reward
    <set>
      <if test="firstAward != null">
        first_award = #{firstAward,jdbcType=INTEGER},
      </if>
      <if test="secondAward != null">
      second_award = #{secondAward,jdbcType=INTEGER},
      </if>
      <if test="thirdAward != null">
        third_award = #{thirdAward,jdbcType=INTEGER},
      </if>
      <if test="fourAward != null">
        four_award = #{fourAward,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.miaosha.dataobject.RewardDO">
    update tb_reward
    set first_award = #{firstAward,jdbcType=INTEGER},second_award = #{secondAward,jdbcType=INTEGER},
    third_award = #{thirdAward,jdbcType=INTEGER},
      four_award = #{fourAward,jdbcType=INTEGER},
      start_time = #{startTime,jdbcType=VARCHAR},
      end_time = #{endTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>